- var title = 'title';
- var description = 'description';
- var siteName = 'site name';
- var ogImage = 'img/cover.png';

doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    include partial/redirect
    title= `${title} - ${siteName}`
    meta(name="description", content= description)
    meta(property="og:title", content= title)
    meta(property="og:type", content="website")
    meta(property="og:image", content= `${origin}${root.pc}${ogImage}`)
    meta(property="og:url", content= `${origin}${root.pc}${currentPath}`)
    meta(property="og:description", content= description)
    meta(property="og:locale", content="ja_JP")
    meta(property="og:site_name", content= siteName)
    meta(property="twitter:card", content="summary_large_image")
    link(rel="alternate", href= `${root.sp}${currentPath}`, media="only screen and (max-width: 640px)")
    link(rel="stylesheet", href= `${root.pc}style.css`)

  body
    include partial/home/content

    script(src= `${root.pc}bundle.js`)
    script.
      window.ProjectNameSpace.run('home');
